:root {
  --main-heading-color: #212121;
  --buttons-background-color: #5ab3fc;
  --buttons-text-color: #ffffff;
  --main-background-color: #f5f4fa;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-color: #000000;
  --nav-buttons-background-color: #f5f4fa;
  --main-background-color: #2f303a;
  --footer-contrast-color: #rgba (255, 255, 255, 0.6);
}
body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
h1, h2, h3, h4, p {
  margin: 0;
  }
  ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  }
  
  address {
  font-style: normal;
  }
.flex{
  display: flex;
}
.container{
  width: 1200px;
  padding: 0 15px;
  outline: 2px dashed red;
  margin: 0 auto;
}
.features{
  padding-top:70px ;
  padding-bottom: 94px;
}
.header{
  
  padding-top: 24px;
  padding-bottom: 25px;
}
.contacts-list{
  align-items: center;
  gap: 50px;
  margin-left: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
.header-logo {
  margin-left: auto;
  margin-right: 93px; 
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
}
.logo-designe {
  color: #2196f3;
}
.header-logo {
  color: #000000;
}
.header-list{
  align-items: center;
  gap: 50px;
}
.header-nav-link,
.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.header-nav-link:hover,
.header-contacts-link:hover,
.header-nav-link:focus,
.header-contacts-link:focus {
  color: #2196f3;
}
.header-contacts-link {
  color: #757575;
}
.header-nav-link {
  color: #212121;
}
.hero-title {
  padding-top:200px;
  padding-bottom: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.hero-btn {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-bottom:30px; 
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
}
.hero-btn {
  color: #ffffff;
}
.hero-list{
  display: flex;
}
.hero-list-child{
  margin-right: 30px;
}
.hero-btn {
  background-color: #5ab3fc;
}
.features{
  padding-top: 94px;
}
.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}
.features-header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.occupation-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team {
  color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team-name {
  margin-bottom: 10px;
  margin-top:30px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}
.footer {
  padding-top: 60px; 
  padding-bottom:60px ;
  background-color: #2f303a;
}
.footer-logo {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}
.footer-logo {
  margin-bottom:20px ; 
  color: #ffffff;
}
.footer-adress {
  margin-bottom:9px ;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.link-footer-contacts{
  display: block;
}
.link-footer-contacts-mailto{
  margin-bottom:9px ;
  display: block;
}
.footer-contacts {
  margin-bottom:9px ;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.portfolio-hero-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}
.portfolio-hero-title {
  padding-top: 94px; 
  padding-bottom:34px ;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-hero-btn { 
  border: 1px solid transparent;
  padding-top: 6px; 
  padding-bottom:6px ;
  padding-left:20px;
  padding-right:20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
}
.portfolio-hero-btn {
  color: #212121;
}
.portfolio-hero-btn {
  background-color: #f5f4fa;
}
.portfolio-hero-list-nav{
  display: flex;
  margin-bottom:34px;
  justify-content: center;
}

.portfolio-hero-list{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.portfolio-hero-list-nav-child{
  margin-right: 8px;
}
.portfolio-hero-btn:hover,
.portfolio-hero-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}
